<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="signIn()" *ngIf="!signedId">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Sign in with Google
  </ion-button>
  <ion-button expand="full" (click)="signOut()" *ngIf="signedId">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Sign in out Google
  </ion-button>
  <ion-button expand="full" (click)="signIn()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Sign in with Google
  </ion-button>
</ion-content>
